---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout>
    <h1>Sign up</h1>
    <form method="post" action="/api/signup">
        <label for="username">Username</label>
        <input id="username" name="username" />
        <label for="password">Password</label>
        <input id="password" name="password" />
        <button>Continue</button>
    </form>
</AuthLayout>

<!-- <script>
    import { actions } from "astro:actions";
    import Swal from "sweetalert2";

    const form = document.querySelector("form") as HTMLFormElement;
    const btnSubmit = document.querySelector(
        "#btn-submit",
    ) as HTMLButtonElement;
    const bntGoogle = document.querySelector(
        "#btn-google",
    ) as HTMLButtonElement;

    const { signIn } = await import("auth-astro/client");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        btnSubmit.setAttribute("disabled", "disabled");

        const formData = new FormData(form);

        // const { error } = await actions.loginUser.safe(formData);
        const resp = await signIn("credentials", {
            email: formData.get("email") as string,
            password: formData.get("password") as string,
            redirect: false,
        });

        console.log({ resp });

        if (resp) {
            Swal.fire({
                icon: "error",
                title: "Error al ingresar",
                // text: error.message,
                text: "Usuario / Contraseña no son correctos",
            });
            btnSubmit.removeAttribute("disabled");
            return;
        }

        // TODO:
        window.location.replace("/");
    });

    bntGoogle.addEventListener("click", async () => {
        bntGoogle.setAttribute("disabled", "disabled");

        try {
            //! Paso 1: obtener la credenciales del lado del cliente

            // Paso 2: Vericar las credenciales en el backend

            if (true) {
                alert("error.message");
                bntGoogle.removeAttribute("disabled");
                return;
            }
        } catch (error) {
            console.log(error);
            bntGoogle.removeAttribute("disabled");
        }
    });
</script> -->
