---
import Layout from "@/layouts/Layout.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="Welcome to Astro." description="Welcome to Astro.">
  <main>
    <h1 class="font-sans">Hello World!</h1>
  </main>
</Layout>

<style></style>
