---
import Layout from "@/layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="font-sans">Hello World!</h1>
		<h1 class="font-serif font-extrabold">Hello World!</h1>
		<h1 class="font-serif">Hello World!</h1>
	</main>
</Layout>

<style></style>
