---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Sing in | eCommerce Admin"
  description="Sing in your eCommerce Admin account"
>
  <section
    class="w-full lg:grid lg:min-h-[600px] lg:grid-cols-2 xl:min-h-[800px]"
  >
    <article class="flex items-center justify-center py-12">
      <slot />
    </article>
    <aside class="hidden bg-muted lg:block grid-desing"></aside>
  </section>
</Layout>
