---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Dashboard | eCommerce Admin"
  description="Your eCommerce Admin account"
>
  <section class="container mx-auto">
    <slot />
  </section>
</Layout>
