---
import "@/globals.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body data-js-enabled="false">
    <slot />
  </body>
</html>
<style is:global>
  @view-transition {
    navigation: auto;
  }

  /* [data-js-enabled="false"] input:user-invalid {
    @apply text-error input-error;
  } */

  .grid-desing {
    z-index: 0;
    opacity: 0.4;

    background-size: 30px 30px;
    background-image: linear-gradient(
        90deg,
        var(--muted-grid) 1px,
        transparent 0
      ),
      linear-gradient(180deg, var(--muted-grid) 1px, transparent 0);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
</style>
<script is:inline src="./node_modules/preline/preline.js"></script>
<script>
  document.body.dataset.jsEnabled = "true";
</script>
